<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<div id="fixedheader">Hello, random user</div>
<img id = "logo" src="Resources/logo.jpg" width: "100%"/>
<br>
<ul id="nav">
    <li><a href="/"><img src="/Resources/button.png" width="45" height="42" title="home" ></a></li>
    <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
    <li><a href="/Resources"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
    <li><a href="/Youtube"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
    <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
  </ul>
<br>

      <h1 class="aboutstue">ABOUT STUE</h1>

  <!-- <img class="stueablogo" src="/Resources/STUE_LOGO.png"> --->
  <br>
  <br>

  <h2 class="abh2"> WELCOME TO STUE</h2>
    <p class="abp">
      Surviving the University Experience is a web application that was developled to help first-time students<br>
      navigate theprocess and experience of college/university. Throughout the site, you will find many resources<br>
      to help withthe college process.You can calculate your college cost by using the financial aid calculator,</br>
      you can use the Khan Academy and Youtube pages to gethelp on particular topics, and you may explore the</br>
      resources page for scholarship information, tips and other pointers on surviving away from home.</p></br>

<h1 class="aboutstue">MEET THE DEVELOPERS</h1>
<br>
  <table>
    <tr>
      <td ><img src="/Resources/img1.jpg" height="200" width="200"></td>
      <td><img src="/Resources/img1.jpg" height="200" width="200"></td>
      <td><img src="/Resources/img1.jpg" height="200" width="200"></td>
    </tr>
    <tr>
      <td class="tda1"><strong>WILLIAM</strong></td>
      <td class="tda1"><strong>ZARI</strong></td>
      <td class="tda1"><strong>CAMILLE</strong></td>
    </tr>
    <tr>
      <td class="tda">Input William's content<br>
                      here. More lines of this<br>
                      and some more and more a.</td>
      <td class="tda">Input Zari's content<br>
                      here. More lines of this<br>
                      and some more and more a.</td>
      <td class="tda">Input Camille's content<br>
                      here. More lines of this<br>
                      and some more and more a.</td>
    </tr>




</body>
</html>
