<!DOCTYPE html>
<html>
  <head>
    <title>ABOUT - STUE </title>
    <link rel="stylesheet" href="/Resources/finalproject.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>

<body>
  <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
  <div class="icon-bar">
    <a class="active" href="/"><i class="fa fa-home"></i></a> <!--HOME PAGE -->
    <a href="/About"><i class="fa fa-user" aria-hidden="true"></i></a> <!--ABOUT PAGE -->
    <a href="/Resources"><i class="fa fa-globe"></i></a> <!--Resources PAGE -->
    <a href="/Youtube"><i class="a fa-video-camera"></i></a> <!--YOUTUBE PAGE -->
    <a href="/FinAid"><i class="fa fa-money"></i></a> <!--FINANCAIL AID -->
  </div>

  <img class="stuelogo" src="/Resources/STUE_LOGO.png">
      <h1 class="aboutstue">ABOUT STUE</h1>

  <!-- <img class="stueablogo" src="/Resources/STUE_LOGO.png"> --->
  <br>
  <br>

  <h2 class="abh2"> WELCOME TO STUE</h2>
    <p class="abp">
      Surviving the University Experience is a web application that was developled to help first-time students<br>
      navigate theprocess and experience of college/university. Throughout the site, you will find many resources<br>
      to help withthe college process.You can calculate your college cost by using the financial aid calculator,</br>
      you can use the Khan Academy and Youtube pages to gethelp on particular topics, and you may explore the</br>
      resources page for scholarship information, tips and other pointers on surviving away from home.</p></br>

<h1 class="aboutstue">MEET THE DEVELOPERS</h1>
<br>
  <table>
    <tr>
      <td ><img src="/Resources/img1.jpg" height="200" width="200"></td>
      <td><img src="/Resources/img1.jpg" height="200" width="200"></td>
      <td><img src="/Resources/img1.jpg" height="200" width="200"></td>
    </tr>
    <tr>
      <td class="tda1"><strong>WILLIAM</strong></td>
      <td class="tda1"><strong>ZARI</strong></td>
      <td class="tda1"><strong>CAMILLE</strong></td>
    </tr>
    <tr>
      <td class="tda">Input William's content<br>
                      here. More lines of this<br>
                      and some more and more a.</td>
      <td class="tda">Input Zari's content<br>
                      here. More lines of this<br>
                      and some more and more a.</td>
      <td class="tda">Input Camille's content<br>
                      here. More lines of this<br>
                      and some more and more a.</td>
    </tr>




</body>
</html>
