<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<a href="/"><div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
<a href="/"><img id = "logo" src="Resources/logo.jpg" width: "100%"/></a>
<br>
<ul id="nav">
  <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
  <li><a href="/Resources"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
  <li><a href="/Comments"><img src="/Resources/blog.png" width="45" height="42" title="blog" ></a></li>
  <li><a href="/Calendar"><img src="/Resources/calendar.png" width="45" height="42" title="blog" ></a></li>
  <li><a href="/Youtube"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
  <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
</ul>
<br>
<br>
<br>
<hr>
<br>

  <div class="form"><img src="/Resources/finaid1.png" width="500px"/></div>

      <div class="form">
    <form method="post" action="">
      <h2 clas> General Information</h2>
      <table class="finaid">
          <tr>
            <td><input type="text" name="name"  placeholder="Your Name" ></input></td>
          </tr>
          <tr>
            <td><input type="text" name="college" placeholder="College" ></input></td>
          </tr>
      </table>
      <h2>Cost of Attendance</h2>
        <p class="fin">For the best results, please input numbers only</p>
      <table>
        <tr>
          <td><input type="number" name="Tuition" size="15"placeholder="Tuition" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Meals" size="15" placeholder="Meals" required> </input></td>
        </tr>
        <tr>
          <td><input type="number" name="Housing" size="20"placeholder="Living" required ></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Books" placeholder="Books" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Insurance" placeholder="Insurance" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Equipment"  placeholder="Equipment/Lab" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Transportation"  placeholder="Transporation" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Entertainment"  placeholder="Entertainment" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Other" placeholder="Other" required></input></td>
        </tr>
      </table>
      <h2> Grants, Aid, &amp; Scholarships </h2>
      <table>
        <tr>
          <td><input type="number" name="University" placeholder="Scholarships" required></input></td>
        </tr>
        <tr>
          <td><input type="number" name="Pell" placeholder="Federal Pell Grant" required></input></td>
        </tr>
        <tr>
            <td><input type="number" name="SEOG" placeholder="Federal SEOG Grant" required ></input></td>
        </tr>
        <tr>
            <td><input type="number" name="Sub" placeholder="Subsidized Loans" required></input></td>
        </tr>
        <tr>
            <td><input type="number" name="Unsub" placeholder="Unsubsidized Loans" required></input></td>
        </tr>
        <tr>
            <td><input type="number" name="Parent" placeholder="Parental Contribution"></input></td>
        </tr>
        <tr>
            <td><input type="number" name="Student" placeholder="Student Contribution"></input></td>
        <tr>
            <td><input type="number" name="AidOther" placeholder="Other Grants &amp; Loans"></input></td>
        <tr>
          <td><input type="submit" name="submit" value="Submit"></input></td>
        </tr>

      </table>
    </form> <!--Financial Aid Calculator -->
</div>




</body>

</html>
