<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="home.css">
    <!-- <script src="/Resources/finalproject.js"></script>
    <script type="text/javascript"> </script> -->
  </head>
<body>
<div id="fixedheader">Hello, random user</div>
<img id = "logo" src="logo.jpg" width: "100%"/>
<br>
<ul id="nav">
    <li><a href="/"><img src="button.png" width="45" height="42" title="home" ></a></li>
    <li><a href="/"><img src="user.png" width="45" height="42" title="about" ></a></li>
    <li><a href="/"><img src="youtube.png" width="45" height="42" title="youtube" ></a></li>
    <li><a href="/"><img src="resources.png" width="45" height="42" title="resources" ></a></li>
    <li><a href="/"><img src="finaid.png" width="45" height="42" title="resources" ></a></li>
  </ul>
<br>
<div class="slideshow">
    <figure>
        <img src="slide.jpg" width="102%" /> </div>
</body>
</html>
