<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" href="/Resources/finalproject.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
  <body>
    <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
    <div class="icon-bar">
      <a class="active" href="/"><i class="fa fa-home"></i></a> <!--HOME PAGE -->
      <a href="/About"><i class="fa fa-user" aria-hidden="true"></i></a> <!--ABOUT PAGE -->
      <a href="/Resources"><i class="fa fa-globe"></i></a> <!--Resources PAGE -->
      <a href="/Youtube"><i class="a fa-video-camera"></i></a> <!--YOUTUBE PAGE -->
      <a href="/FinAid"><i class="fa fa-money"></i></a> <!--FINANCAIL AID -->
    </div>
<br>
<br>
    <div class="container">
      <!-- [START greetings] -->
      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
          <b>{{ greeting.author.email }}
            {% if user and user.user_id() == greeting.author.identity %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      </div>
      {% endfor %}
      <!-- [END greetings] -->
      <br>
      <br>

      <form action="/sign?guestbook_name={{ guestbook_name }}" method="post">
        <div><textarea name="content" class="input-block-level" rows="3"></textarea></div>
        <div><input type="submit" class="btn btn-large btn-primary" value="Comment"></div>
      </form>
      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
  </body>
</html>
{% endautoescape %}
