<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
<img id = "logo" src="Resources/logo.jpg" width: "100%"/>
<br>
<ul id="nav">
    <li><a href="/"><img src="/Resources/button.png" width="45" height="42" title="home" ></a></li>
    <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
    <li><a href="/Resources"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
    <li><a href="/Youtube"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
    <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
  </ul>
<br>

     <br>
     <br>
     <br>
     <br>

    <img class="khanlogo" src="/Resources/Khan_Academy_logo.svg.png" width="600">

    <form action="https://www.khanacademy.org/search?page_search_query={{q}}">
        <input type="text" name='page_search_query' placeholder="Search"></input></h3><br>
        <input class="khansub" type="submit" value="Search"/>
    </form>




  </body>
</html>
