
<html>
  <head>
    <link rel="stylesheet" href="/Resources/finalproject.css">
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
  <body>
    <<div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
    <img id = "logo" src="Resources/logo.jpg" width: "100%"/>
    <br>
    <ul id="nav">
      <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
      <li><a href="/Resources"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
      <li><a href="/Comments"><img src="/Resources/blog.png" width="45" height="42" title="blog" ></a></li>
      <li><a href="/Calendar"><img src="/Resources/calendar.png" width="45" height="42" title="blog" ></a></li>
      <li><a href="/Youtube"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
      <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
    </ul>
<br>
<br>
<br>
<br>
    <div class="container">
      <!-- [START greetings] -->
      {% for greeting in greetings %}
      <div class="row">
        {% if greeting.author %}
          <b>{{ greeting.author.email }}
            {% if user and user.user_id() == greeting.author.identity %}
              (You)
            {% endif %}
          </b> wrote:
        {% else %}
          An anonymous person wrote:
        {% endif %}
        <blockquote>{{ greeting.content }}</blockquote>
      </div>
      {% endfor %}
      <!-- [END greetings] -->
      <br>
      <br>
      <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </div>
    <iframe src="https://calendar.google.com/calendar/embed?src={{user}}%40gmail.com"
    style="border: 0" width="800" height="600" frameborder="0" scrolling="no">
    </iframe>
  </body>
</html>
