<!DOCTYPE html>
<html>
  <head>
    <title> STUE - RESOURCES </title>
    <link rel="stylesheet" href="/Resources/finalproject.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
<body>
  <div class="icon-bar">
    <a class="active" href="/"><i class="fa fa-home"></i></a> <!--HOME PAGE -->
    <a href="/About"><i class="fa fa-user" aria-hidden="true"></i></a> <!--ABOUT PAGE -->
    <a href="/Resources"><i class="fa fa-globe"></i></a> <!--Resources PAGE -->
    <a href="/Youtube"><i class="a fa-video-camera"></i></a> <!--YOUTUBE PAGE -->
    <a href="/FinAid"><i class="fa fa-money"></i></a> <!--FINANCAIL AID -->
  </div>

  <img class="stuelogo" src="/Resources/STUE_LOGO.png">
      <h1 class="aboutstue">STUE RESOURCES</h1>

      <br>
      <br>

      <img class="khanlogo" src="/Resources/Khan_Academy_logo.svg.png" width="300">
    <div align="center">
      <form action="https://www.khanacademy.org/search?page_search_query={{q}}" target="_blank">
          <input class="khansearch" type="text" style="width: 500px;"name='page_search_query' ></input></h3>
          <input class="khansub" type="submit" value="SEARCH"/>
      </form>
    </div>

    <h1 class="aboutstue">SCHOLARSHIPS</h1>
      <table>
        <tr>
          <td><a href="https://www.fastweb.com/college-scholarships" target="_blank"><img src="/Resources/fastweb_Logo.png" width="200"></a></td>
          <td><a href="https://www.cappex.com/scholarships/" target="_blank"><img src="/Resources/cappex.png" width="200"></a></td>
        </tr>


</body>
