<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
<a href="/"><img id = "logo" src="Resources/logo.jpg" width: "100%"/></a>
<br>
<ul id="nav">
  <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
  <li><a href="/Resources"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
  <li><a href="/Comments"><img src="/Resources/blog.png" width="45" height="42" title="blog" ></a></li>
  <li><a href="/Calendar"><img src="/Resources/calendar.png" width="45" height="42" title="blog" ></a></li>
  <li><a href="/Youtube"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
  <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
</ul>
<br>
<br>
<br>
<hr>
<br>
<br>
  <div class= "form">
    <img src="/Resources/resources1.png" width="400px"/>
<table>
  <tr>
<td><p class="abp2">
  <i>General Information </i>
  <ul class = "nobullets">
    <li><a href="http://www.npr.org/"><img src="/Resources/npr.png" width = "200px"></a> </li><br>
    <li><a href="https://www.wsj.com/"><img src="/Resources/wsj.png" width = "200px"></a></li> <br>
    <li><a href="https://www.nytimes.com/"> <img src="/Resources/nyt.png" width = "200px"></a></li> <br>
    <li><a href="https://www.ted.com/talks"> <img src="/Resources/ted.png" width = "200px"></a></li><br>
    <li><a href="http://www.stuffyoushouldknow.com/podcasts"><img src="/Resources/hsw.png" width = "200px"></a></li><br>
  </ul></p></td>

<td><p class="abp2">
    <i>Learning </i><br>
      <ul class = "nobullets">
      <li><a href="https://www.codecademy.com/"><img src="/Resources/ca.png" width = "200px"></a></li><br>
      <li><a href="http://www.openculture.com/freeonlinecourses"><img src="/Resources/oc.png" width = "200px"></a></li><br>
      <li><a href="https://www.duolingo.com/"><img src="/Resources/dl.png" width = "200px"></a><li><br>
      <li><a href="https://www.coursera.org/"><img src="/Resources/cour.png" width = "200px"></a></li><br>
    </ul>


<td><p class="abp2">
    <i>Scholarships </i>
    <ul class = "nobullets">
      <li><a href="https://www.fastweb.com/college-scholarships" target="_blank"><img src="/Resources/fastweb_Logo.png" width="100"></a></li>
      <li><a href="https://www.cappex.com/scholarships/" target="_blank"><img src="/Resources/cappex.png" width="100"></a></li>
      <li><a href="https://www.collegeboard.org/" target="_blank"><img src="/Resources/collegeboard.png" width="100"></a></li><br><br><br><br>
    </ul></p></td>

</div>
</body>
