<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
<a href="/"><img id = "logo" src="Resources/logo.jpg" width: "100%"/></a>
<br>
<ul id="nav">
  <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
  <li><a href="/Resources"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
  <li><a href="/Comments"><img src="/Resources/blog.png" width="45" height="42" title="blog" ></a></li>
  <li><a href="/Calendar"><img src="/Resources/calendar.png" width="45" height="42" title="blog" ></a></li>
  <li><a href="/Youtube"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
  <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
</ul>
<br>
<br>
<br>
<hr>
<br>
<br>
<div class="form">
<img class = "about"src="/Resources/will1.png" width="350" height="350">
  <p class="abp1">
    Will Walker <br>
    University of Richmond, VA <br>
    Computer Science major, Gender + Sexuality Studies and Business minors
  </p>
  <p class = "abp2">
    My entire life, I have been surrounded by computers and technology. I have always been my family <br>
    and neighborhood tech guy-- repairing and fixing broken computers. Somewhere in my mind, I always <br>
    knew that I wanted to do something that involved computers and computer science is just the thing. <br><br>
    <u>To high school students</u> who don't know what to study: keep it simple during the first years of <br>
    college. It's <i> perfectly okay </i> to not know what you want to do, but it's also important that you <br>
    explore a little bit of everything your college offers to find your niche. Don't just take general <br>
    education requirements; explore some elective courses that seem interesting -- join some extra <br>
    curriculars and take part in campus activities. There's something somewhere for you!<br><br>
    <u> More advice: </u> Stop worrying about the things you can't control! You've gone through 13 years <br>
    of school to reach this point, and you <i> are </i> ready. My advice to graduating seniors is to stay strong <br>
    and stay positive. Finish high school strong, with the best GPA possible and apply for as many scholarships as you can. <br>
  </p>
</div>
</html>
