<!DOCTYPE html>
<html>
  <head>
    <title> STUE | EST 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="/Resources/finalproject.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
<a href="/"><img id = "logo" src="Resources/logo.jpg" width: "100%"/></a>
<br>
<ul id="nav">
    <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
    <li><a href="/Resources"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
    <li><a href="/Youtube"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
    <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
  </ul>
<br>
<br>
<br>
<hr>

<h1 class=fin1>Search for a video here</h1>
<form method="get">
  <p>
    <input name="q" size="30">
  </p>
  <p><input type="submit"/></p>
</form>

{% for vid in videos %}
<center><iframe width="700" height="500"
  src="https://www.youtube.com/embed/{{vid}}">
</iframe></center>
{% endfor %}


  </body>

</html>
