<html>
  <head>
    <title>STUE - Youtube</title>
    <link rel="stylesheet" href="/Resources/finalproject.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

<body>
  <div class="icon-bar">
    <a class="active" href="/"><i class="fa fa-home"></i></a> <!--HOME PAGE -->
    <a href="/About"><i class="fa fa-user" aria-hidden="true"></i></a> <!--ABOUT PAGE -->
    <a href="/Resources"><i class="fa fa-globe"></i></a> <!--Resources PAGE -->
    <a href="/Youtube"><i class="a fa-video-camera"></i></a> <!--YOUTUBE PAGE -->
    <a href="/FinAid"><i class="fa fa-money"></i></a> <!--FINANCAIL AID -->
  </div>
<a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
p>Search for a video here</p>
<form method="get">
  <p>
    <input name="q" size="30">
  </p>
  <p><input type="submit"/></p>
</form>

{% for vid in videos %}
<center><iframe width="700" height="500"
  src="https://www.youtube.com/embed/{{vid}}">
</iframe></center>
{% endfor %}



  </body>

</html>
