<!DOCTYPE html>
<html>
  <head>
    <title> STUE | est. 2017 </title>
    <link rel="stylesheet" href="/Resources/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab" rel="stylesheet">
  </head>
<body>
<div id="fixedheader"><a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a></div>
  <a href="/"><img id = "logo" src="Resources/logo.jpg" width: "100%"/></a>
<br>
  <ul id="nav">
    <li><a href="/About"><img src="/Resources/user.png" width="45" height="42" title="about" ></a></li>
    <li><a href="/Resources"><img src="/Resources/resources.png" width="45" height="42" title="resources" ></a></li>
    <li><a href="/Comments"><img src="/Resources/blog.png" width="45" height="42" title="blog" ></a></li>
    <li><a href="/Calendar"><img src="/Resources/calendar.png" width="45" height="42" title="blog" ></a></li>
    <li><a href="/Youtube"><img src="/Resources/youtube.png" width="45" height="42" title="youtube" ></a></li>
    <li><a href="/FinAid"><img src="/Resources/finaid.png" width="45" height="42" title="resources" ></a></li>
  </ul>
<br>
<br>
<br>
<hr>
<br>
<br>
<div class="form">
<img class = "about"src="/Resources/zari1.png" width="350" height="350">
  <p class="abp1">
    Zari Haidarian  <br>
    San Francisco State University, CA </p>
  <p class = "abp2">
    blah blah blah   blah blah blah   blah blah blah   blah blah blah   blah blah blah <br>
    blah blah blah   blah blah blah   blah blah blah   blah blah blah   blah blah blah <br>
    blah blah blah   blah blah blah   blah blah blah   blah blah blah   blah blah blah <br>
    blah blah blah   blah blah blah   blah blah blah   blah blah blah   blah blah blah <br>
    blah blah blah   blah blah blah   blah blah blah   blah blah blah   blah blah blah <br> <br>
    
    insert links here
  </p>
</div>

</body>
</html>
